<main>
	<div class="container under-header">
		<h1>Write a review</h1>
		<br>
		<h5>Recent guests</h5>
		<div class="row">
			<div ng-repeat="guestbooking in review.guestbookings">
		        <div class="col s12 m3" ng-repeat="guest in guestbooking.users">
		          <div class="card">
		            <div class="card-image">
		              <img ng-src="{{guest.image}}">
		              <span class="card-title">{{ guest.first_name + " " + guest.last_name }}</span>
		            </div>
		            <div class="card-content">
						<strong>{{ guestbooking.booking.title }}</strong>
		            </div>
		            <div class="card-action">
		              <a class="btn waves waves-light center-align" ng-click="review.getSelectedUser(guest.id, guest.first_name, guest.last_name )">Write review</a>
		            </div>
		          </div>
		        </div>
		     </div>
	     </div>
	     <h5>Recent hosts</h5>
	     <div class="row">
	        <div class="col s12 m3" ng-repeat="host in review.hostbookings">
	          <div class="card">
	            <div class="card-image">
	              <img ng-src="{{host[0].image}}">
	              <span class="card-title">{{ host[0].first_name + " " + host[0].last_name }}</span>
	            </div>
	            <div class="card-content">
	            	<strong>Host</strong>
	            </div>
	            <div class="card-action">
	              <a class="btn waves waves-light" ng-click="review.getSelectedUser(host[0].id, host[0].first_name, host[0].last_name )">Write review</a>
	            </div>
	          </div>
	        </div>
	     </div>
		<div class="row">
			<div class="col s12">
				<h1>Write review for {{ review.selectedname }}</h1>
			</div>
		</div>
		<ul class="collection" ng-show="review.sendreviewerror">
		    <li class="collection-item">{{review.sendreviewerror}}</li>
		</ul>
		<div class="row">
			<a id="reviewtextarea"></a>
			<textarea id="" class="materialize-textarea" placeholder="Write your review here" ng-model="review.reviewinput"></textarea>
       		<a class="btn waves waves-light" ng-click="review.sendReview()">Submit review</a>
		</div>
	</div>
</main>