<main>
	<div class="container under-header profile">
		<a href="" ng-click="review.goBack()"><h5>Back</h5></a>
		<h1>Reviews for {{ review.name }} </h1>
		
		<div class="row" ng-show="!review.reviews.length">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <p >There are no reviews for this person yet.</p>
            </div>
          </div>
        </div>
    </div>
      <div class="row">
  <div class="col s12 m12">
    <p ng-if="profile.guestbookings.length < 1">No bookings yet as a guest.</p>
    <div ng-repeat="reviewObj in review.reviews">
      <ul class="collection">
      <li class="collection-item avatar">
         <img ng-src="{{ reviewObj.user.image }}" alt="" class="circle">
        <span class="title"><a href="/#/user/{{reviewObj.author_id}}/reviews"><strong>{{reviewObj.user.first_name + " " + reviewObj.user.last_name }}</strong></a></span>
        <p>{{reviewObj.body}}</p>
        <a href="" class="secondary-content" ng-click="review.deleteReview(reviewObj.id)" ng-show="review.userid === reviewObj.author_id">
          <i class="material-icons">delete_forever</i>
        </a>
      </li>
      </ul>    
  </div>
  </div>
</div>
	</div>
</main>