nav {
	position: fixed;
	background-color: transparent;
	box-shadow: none !important;
	top: 0;
	z-index: 10;

	.logo {
		margin-top: 10px;
		height: 40px;
	}

	li a {
		font-size: 16px;
	}
}

#modal1.modal {
	width: 25%;
}

#modal2.modal {
	width: 30%;
}

#home {
	background-image: url("/dist/img/friendseating_edit.jpg");

	#home-form {
		margin-top: 10%;
	}

	input[type=text], #home input[type=text]:focus {
		border-bottom: 1px solid #15f8a5 !important;
		color: #fff;
		font-size: 24px;
		box-shadow: 0 1px 0 0 #15f8a5;
	}

	.branding h1 {
		padding-top: 15%;
		margin: 0;
		font-size: 70pt;
	}

	.branding p {
		font-size: 22px;
		padding-top: 20px;
	}
}

.profile {
	input[type=text], .profile input[type=text]:focus {
		border-bottom: 1px solid #26a69a !important;
		box-shadow: 0 1px 0 0 #26a69a;
		color: #000;
		font-size: 15px;
		text-align: left;
	}

	input[type=text]:focus {
		border-bottom: 1px solid #15f8a5 !important;
		box-shadow: 0 1px 0 0 #15f8a5;
	}
}

#searchbutton {
	background-color: #11dd93;
}

.pac-container {
	height: 120px;
	overflow-y: scroll;
}

#createbookingpagination li {
	cursor: pointer;

	&.active {
		background-color: #26a69a;
	}
}

.review-profile-image {
	object-fit: cover;
	height: 180px;
}

.overview .img_container {
	width: 100%;

	img {
		width: 100%;
	}
}

#filterwrapper {
	position: fixed;
	right: 100px;
	top: 125px;
}

span.badge {
	border-radius: 5px !important;
}

.row.no-mar-btm {
	margin-bottom: 0;
}
.collection {
	.collection-action-btn {
		position: absolute;
		bottom: 15px;
		right: 20px;
	}

	.collection-title {
		font-size: 18px;
	}

	.collection-item {
		padding: 20px 20px;
	}
}